*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto; 
}

.part-one{
    background-color: #1F2937;
    padding: 20px 160px 80px;
    color: white;

    display: flex;
    flex-direction: column;
    gap: 100px;
}

.header-upper{
    display: flex;
    justify-content: space-between;
}

p.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul{  
    list-style-type: none;
    display: flex;
    gap: 20px;
}

li, p.header-small-phrase{
    font-size: 18px;
    color: #E5E7EB;
}

h1.header-large-phrase{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-lower{
    display: flex;
    justify-content: space-between;
    
}

.header-lower-left{
    width: 420px;
}

.placeholder{
    padding: 100px 160px;
    color: whitesmoke;
    background-color: grey;
}

.header-button{
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 8px 30px;
    border-radius: 8px;
    margin-top: 10px;
}










.part-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 40px 0px 80px;
}

h1.random-heading{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.container{
    display: flex;
    gap: 30px;
}

.picture{
    border: 5px solid #3882F6;
    border-radius: 10px;
    width: 150px;
    height: 180px;
    margin-bottom: 5px;
}

.card{
    width: 150px;
}

.description{
    text-align: center;
}













.quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 750px;
}
.author{
    font-size: 20px;
    margin-left: 550px;
    font-weight: bold;
}
.part-three{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #E5E7EB;
    padding: 60px 0;
}












.part-four{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0px;
}

.message{
    box-sizing: border-box;
    width: 900px;
    background-color: #3882F6;
    padding: 30px 90px;
    color: white;

    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}
.message-heading{
    font-weight: bold;
    font-size: 18px;
}
.message-text{
    font-size: 15px;
    color: #E5E7EB;
}
.message-button{
    background-color: #3882F6;
    color: white;
    padding: 5px 30px;
    border: none;
    border-radius: 10px;
    border: 3px solid white;
}


.footer{
    background-color: #1F2937;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    color: #E5E7EB;
}